<html>
    <!DOCTYPE html>
        <meta charset="UTF-8">
            <head>
                 <title>Galart Ecommerce</title> 
                 <link rel="stylesheet" type="text/css" href="estilo.css">
            </head>
                <header>
                    <div class="menu">
                        
                    </div>
                </header>
                <body>
                    <div class="corpo">
                            <div><img id="item1" src="sasuke.jpg" alt="some text"></div>
                            <div><img id="item2" src="tigre.jpg" alt="some text"></div>
                            <div><img id="item3" src="rick.jpg" alt="some text"></div>

                            <div id="corp-resto">
                             <h1>Teste</h1>  
                             <h1>Teste</h1> 
                             <h1>Teste</h1>
                             <h1>Teste</h1>         
                            </div>
                    </div>

                </body>
</html>