<nav class="menu navbar navbar-expand-lg navbar-light bg-light"> <!-- Menu-->
    <div class="container"><!-- delimitador do menu-->
        <a class="navbar-brand" href="/"><img style="max-width: 150px;" src="/imgs/galart-logo.png"></a><!-- nome que fica no menu-->
        <!-- Botão quando a tela fica pequena-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"><!-- nav-->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"><i class="fas fa-home fa-1x"></i> Início</a>
                <a class="nav-item nav-link" href="/catalogo"><i class="fas fa-swatchbook fa-1x"></i> Catálogo</a>
                <a class="nav-item nav-link" href="/sobre"><i class="fas fa-cat fa-1x"></i> Sobre</a>
                <a class="nav-item nav-link" href="/login"> <i class="fas fa-user-lock fa-1x"></i> Login</a>    
            </div>
        </div>
    </div>
</nav>
