<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Galart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/catalogo">Catálogo</a>
                <a class="nav-item nav-link" href="#">Sobre</a>
                <a class="nav-item nav-link" href="#">Carrinho</a>
                <a class="nav-item nav-link" href="#">Histórico de compras</a>
            </div>
        </div>
    </div>
</nav>