
<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!-- Menu-->
    <div class="container"><!-- delimitador do menu-->
        <a class="navbar-brand" href="/">Galart</a><!-- nome que fica no menu-->
        <!-- Botão quando a tela fica pequena-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup"><!-- nav-->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"><i class="fas fa-home fa-1x"></i> Início</a>
                <a class="nav-item nav-link" href="/catalogo"><i class="fas fa-swatchbook fa-1x"></i> Catálogo</a>
                <a class="nav-item nav-link" href="/sobre"><i class="fas fa-cat fa-1x"></i> Sobre</a>
                <a class="nav-item nav-link" href="/carrinho"><i class="fas fa-shopping-cart fa-1x"></i> Carrinho</a>
                <a class="nav-item nav-link" href="/perfil"><i class="fas fa-user fa-1x"></i> Perfil</a>
                <a class="nav-item nav-link" href="#"><i class="fas fa-cash-register fa-1x"></i> Histórico de compras</a>

                <a class="btn btn-success float-right" href="/encerrar">Sair</a>
                
                <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            </div>
        </div>
    </div>
</nav>
<!-- Fim celular e tablet -->

<nav class="menu">
<!--Logo menu <img  width="280px" src="imgs/logo.png">-->
  <ul>
    <li class="nav-item"><a  class="nav-link" href="/"><i class="fas fa-home fa-1x"></i> Início</a></li>
    <li class="nav-item"><a  class="nav-link" href="/catalogo"><i class="fas fa-swatchbook fa-1x"></i> Catálogo</a></li>
    <li class="nav-item"><a  class="nav-link" href="/sobre"><i class="fas fa-cat fa-1x"></i> Sobre</a>
    <li class="nav-item"><a  class="nav-link" href="/carrinho"><i class="fas fa-shopping-cart fa-1x"></i> Carrinho</a></li>
    <li class="nav-item"><a  class="nav-link" href="/perfil"><i class="fas fa-user fa-1x"></i> Perfil</a></li>
    <li class="nav-item"><a  class="nav-link" href="#"><i class="fas fa-cash-register fa-1x"></i> Histórico de compras</a></li>
    
    <li class="nav-item"><a  class="btn btn-success float-right" href="/encerrar">Sair</a></li>
  </ul>
  <br>
  <center>
    <div class="social-media">
      <a href="https://twitter.com/galart" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="https://www.facebook.com/Galart-2293951957296205/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
      <a href="https://www.instagram.com/emytsukura/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
  </center>
</nav>
<br>
