<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include head %>

<body style="height: auto;">
    
    <section class="container" style="margin-top: 50px; min-height: 400px;">
        <h1>DEU RUIM</h1>
    </section>

    <% include footer %>
</body>
</html>