* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative', cursive;
}
body {
    background-color: #f8f8f8 !important;
}

/* ====== Navbar ====== */
.menu {
    box-shadow: -1px 8px 15px -1px rgba(0,0,0,0.75);
}
.navbar-nav a {
    padding: 0px 15px !important;
    color: #2c2c2c !important;
}

/* ====== Card ====== */
.card-style {
    height: 470px;
    margin: 10px auto;
}
.card-img {
    height: 200px;
}
.card-img img {
    max-height: 470px;
}
.card-body-style {
    background-color: #fff;
    min-height: 250px;
}
.social-media a {
    color: #2c2c2c;
}

/* ====== Filtro ====== */
.arte-filtro {
    margin: auto;
    text-align: center;
}
.arte-filtro input,
.arte-filtro select {
    display: inline-block;
    margin-bottom: 10px;
}
.arte-filtro input {
    max-width: 300px;
}
.arte-filtro select {
    max-width: 200px;
}
.arte-filtro button {
    background-color: #1B3854;
    border: 1px solid #1B3854;
}
.arte-filtro button:hover {
    background-color: #007bff;
    border: 1px solid #007bff;
}