*{
    
    font-family: 'Roboto Mono', monospace;
}
.fundo{
    width: 100%;
    height: 2000px;
    background-image: linear-gradient(to bottom, rgba(11,156,49,0.6), rgba(11,156,49,0.8), rgba(11,156,49,1));
 
}
.slide{
    height: 40%;
}
.slideimg{
    height: 40%;
 border-bottom: 2px solid black;
}
.item{
    width: 100%;
    height: 850px;
}
.navbar ul{
 text-align: justify;
}
.menu{
    border-bottom:2px solid black;
    box-shadow: 10px ;

}
.carousel-control-prev{
    height: 40%;
    background-color: rgba(0, 0, 0, 0.2);
}
.carousel-control-next{
    height: 40%;
    background-color: rgba(0, 0, 0, 0.2);
}
.card-deck{
    margin-top: -40%;
    padding-left: 2%; 
    padding-right: 2%;
}
#carouselExampleFade{
    height: 70%;
}
.card{
    border: none;
}
.rodape{
    width: 100%;
    height: 100px;
    margin-top: 35%;
    background-color:#c5c5c5;

    position: absolute;
    padding: 2%;
}
.menu-fixo{
    position: fixed;
}