<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/navegacao %>
    <section class="container" style="min-height: 400px;">
        
        

        <%= data[0].nome %>

    </section>

    <% include ../componentes/footer %>
</body>
</html>