<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/navegacao %>

    <% if(valid.length > 0){ %>
        <center>
        <div class="alert alert-danger login-alert">
            <strong>Atenção!</strong>
            <ul>
                <% for(var i=0; i < valid.length; i++){ %>
                    <li><%= valid[i].msg %></li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <% if(msg.length > 0){ %>
        <div class="alert alert-success login-alert">
            <strong>Atenção!</strong>
            <ul>
                <li><%= msg %></li>
            </ul>
        </div>
    <% } %>
</center>
    <section class="container" style="margin: 50px auto; min-height: 400px; max-width: 700px;">
        <form action="" method="post">

            <h2 style="margin-bottom: 30px" class="text-center">Cadastro de Cliente</h2>

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Nome</label>
                        <input type="text" name="nome" class="form-control" id="formGroupExampleInput" placeholder="">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Sobrenome</label>
                        <input type="text" name="sobrenome" class="form-control" id="formGroupExampleInput2" placeholder="">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">E-mail</label>
                        <input type="text" name="email" class="form-control" id="formGroupExampleInput2" placeholder="exemplo@exemplo.com">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Senha</label>
                        <input type="password" name="senha" class="form-control" id="formGroupExampleInput2">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">CPF</label>
                        <input type="text" name="cpf" class="form-control" id="formGroupExampleInput2">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Data de Nascimento</label>
                        <input type="date" name="nascimento" class="form-control" id="formGroupExampleInput2">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Sexo</label>
                        <input type="radio" name="sexo" id="formGroupExampleInput2" checked> Feminino
                        <input type="radio" name="sexo" id="formGroupExampleInput2"> Masculino
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Telefone</label>
                        <input style="width: 70px; display: inline" type="tel" name="ddd" class="form-control" id="formGroupExampleInput2" placeholder="DDD">
                        <input style="width: 150px; display: inline" type="tel" name="telefone" class="form-control" id="formGroupExampleInput2" placeholder="Telefone">
                    </div>
                </div>
            </div>

            <button class="btn btn-success" type="submit">Cadastrar</button>
        </form>
        
    </section>

    <% include ../componentes/footer %>
</body>
</html>