<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/clienteNavegacao %>
    <section class="container" style="min-height: 400px;">
        teste
    </section>

    <% include ../componentes/footer %>
</body>
</html>