<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/catalogoHead %>

<body style="height: auto;">

    <% include ../componentes/catalogoClienteNavegacao %>
    <section class="container text-center" id="step-1" style="margin-bottom: 50px; min-height: 400px;">
        
        <h1>Compra Finalizada<br>com Sucesso!</h1>
        <img class="img-fluid" style="border: 1px solid #808080; border-radius: 5px; margin: 15px auto 20px;" src="imgs/deu-bom.jpeg">
        <p>O boleto será enviado para seu endereço de e-mail em até 5 minutos.</p>

    </section>

    <% include ../componentes/catalogoFooter %>
</body>
</html>