<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/clienteNavegacao %>
    <!-- ========== Passo 1 ========== -->
    <section class="container" id="step-1" style="min-height: 400px;">
        
        <h1 class="text-center">Compra Finalizada<br>com Sucesso</h1>

    </section>

    <% include ../componentes/footer %>
</body>
</html>