<!DOCTYPE html>
<html lang="pt-br">

<% include ../componentes/head %>

<body>

  <% if(user[0] !== undefined) { %>
  <% include ../componentes/clienteNavegacao %>
  <% } else { %>
  <% include ../componentes/navegacao %>
  <% } %>
 
  <section class="container2" style="margin-top: 0">
    <br>  
      <center><h2 class="title">Galart - Arte de Qualidade para você</h2></center>
      <hr>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-fluid d-block w-100" src="imgs/slide1.1.jpg" />
            </div>
            <div class="carousel-item">
              <img class="img-fluid d-block w-100" src="imgs/slide2.1.jpg" />
            </div>
            <div class="carousel-item">
              <img class="img-fluid d-block w-100" src="imgs/slide3.1.jpg" />
            </div>
          </div>
        </div>
        <br>
        <center><button type="button" class="btn btn-outline-primary"><strong> Faça seu Pedido</strong> <i class="fas fa-shopping-bag fa-1x"></i></button></center>
        <br>
        <div class="jumbotron">
            <h1 class="display-6">Emily Matsukura</h1>
            <p class="lead">Design, ilustradora de todos os tipos de art.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maxime debitis soluta quibusdam? Quidem hic molestiae necessitatibus! Adipisci veritatis earum consequatur quas, dolor necessitatibus fuga ipsum similique veniam fugiat amet?</p>
            <a class="btn btn-primary btn-lg" href="/sobre" role="button">Leia mais</a>
          </div>
          <br>
        <div class="card">
            <div class="card-header">
              Citação
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>Esquilos são iguais a ratos, porém nenhum rato é melhor que um esquilo</p>
                <footer class="blockquote-footer">Emy disse isso em <cite title="Título da fonte">Internet</cite></footer>
              </blockquote>
            </div>
          </div>
<br>
          <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="imgs/Img1.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
                  <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="imgs/Img2.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                  <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="imgs/Img3.jpg"" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                  <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
                </div>
              </div>
            </div>
  </section>
  
  <% include ../componentes/footer %>
</body>
</html>