<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="background-image: linear-gradient(-90deg,#5b5b5b, #424242);">

    <% include ../componentes/navegacao %>

    <center>
        <% if(valid.length > 0){ %>
            <div class="alert alert-danger login-alert">
                <strong>Atenção!</strong>
                <ul>
                    <% for(var i=0; i < valid.length; i++){ %>
                        <li><%= valid[i].msg %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>

        <% if(msg.length > 0){ %>
            <div class="alert alert-warning login-alert">
                <strong>Atenção!</strong>
                <ul>
                    <li><%= msg %></li>
                </ul>
            </div>
        <% } %>
    </center>

    <div class="container2 login">
        <form class="form-group" action="/autenticar" method="post">
            <label for="email">E-mail</label>
            <div class="input-group">
                <input type="email" style="border: 1px solid #888" id="email" name="email" class="form-control" placeholder="E-mail" aria-label="E-mail">
            </div>
            <br />
            <label for="senha">Senha</label>
            <div class="input-group">
                <input type="password" style="border: 1px solid #888" id="senha" name="senha" class="form-control" placeholder="Senha" aria-label="Senha">
            </div>
            <br />
            <button type="submit" class="btn btn-amarelo"><i class="fas fa-sign-in-alt fa-1x"></i> Login</button>
            <a href="/cadastro" class="btn btn-info"><i class="fas fa-address-card fa-1x"></i> Cadastro</a>
        </form>
    </div>

</body>
</html>