<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

    <% include ../componentes/head %>

    <body>
      
      <% include ../componentes/navegacao %>
 
    
      <section class="container" style="margin-top: 0">
        <h2 class="title">Sobre a Artista</h2>
        <hr>
        <br>
        <div class="card mb-3">
            <img class="card-img-top" src="imgs\emy.png" alt="Imagem de capa do card">
            <div class="card-body">
              <h5 class="card-title">Título do card</h5>
              <p class="card-text">Lorem ipsum tempus himenaeos nisi sodales pulvinar, aliquet etiam donec dictumst habitant primis eros, elit torquent lacinia purus consequat. curae integer pulvinar fringilla felis risus lobortis, erat fermentum ultrices conubia nisl, elementum conubia consectetur egestas orci. auctor non sit proin aenean fames elit conubia imperdiet, purus vel imperdiet mollis nec dolor nunc molestie aenean, dictumst turpis faucibus habitant quis aenean turpis. velit nec arcu bibendum ac malesuada ligula ultrices eleifend tortor accumsan, laoreet vulputate curabitur ac lacus litora sed a suspendisse faucibus, euismod eu justo eros proin adipiscing nostra litora torquent. 

                Facilisis duis congue facilisis a facilisis class egestas id class, vivamus fermentum iaculis arcu eleifend netus fames tortor fringilla congue, curabitur velit nullam ullamcorper fringilla conubia hendrerit dui. mi interdum massa viverra aliquam est aliquet risus interdum cras nisi, euismod lorem eget ut hendrerit ligula lacus luctus sollicitudin. porttitor felis habitasse adipiscing fermentum aliquam placerat eget aliquet, ac posuere odio id convallis ultrices semper ac urna, mollis imperdiet ullamcorper elit odio aenean viverra. suscipit sagittis lorem consectetur luctus nisi faucibus amet hendrerit auctor ullamcorper, venenatis cras cursus volutpat sit quisque pretium justo nec justo curabitur, tempus rutrum molestie congue ac mattis netus nulla fusce. 
            
                Varius aenean dapibus etiam curabitur sodales morbi quam lobortis orci, pulvinar aenean dui a sapien nostra tellus nisi elit hac, cursus risus molestie eu nullam semper euismod aliquam. pulvinar euismod curabitur etiam curabitur suscipit turpis curabitur mollis dictumst, inceptos nullam semper ullamcorper aliquet cursus vel cras tincidunt et, sit justo suspendisse ante luctus varius ornare aenean. orci senectus habitant cursus libero varius semper aliquet ante tincidunt imperdiet, sagittis luctus blandit sem dictumst quam ultricies lacinia laoreet sagittis proin, tortor justo donec urna arcu nibh proin etiam potenti. nibh ipsum donec tristique velit sodales eleifend aenean pellentesque dictum eu adipiscing quis imperdiet nostra, litora at quisque massa fusce blandit lacinia consequat hendrerit consectetur posuere fermentum. 
            
                Placerat per pharetra at donec commodo metus volutpat phasellus consectetur congue dolor mattis, facilisis euismod aptent sapien nostra facilisis rutrum interdum adipiscing imperdiet. porta leo hac nisl tellus curabitur curae, mi id consectetur iaculis laoreet justo cras, luctus pharetra suscipit eu litora. aenean morbi rhoncus bibendum nam vitae conubia inceptos, morbi sed cras duis elementum sagittis accumsan bibendum, mollis dapibus varius sapien eu bibendum. proin eu a et curabitur odio dapibus potenti, feugiat arcu habitasse dictum elementum aenean, maecenas amet faucibus rhoncus mauris ac. litora integer dui ac quis, in molestie. </p>
              <p class="card-text"><small class="text-muted">Atualizados 3 minutos atrás</small></p>
            </div>
          </div>
    </section>
    
    <% include ../componentes/footer %>

</body>
</html>