<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">
    <% if(user[0] !== undefined) { %>
    <% include ../componentes/clienteNavegacao %>
    <% } else { %>
    <% include ../componentes/navegacao %>
    <% } %>
    <section style="min-height: 500px;">
        <div>
        <h>Brasileira</h> com coração Japonês, aprendi maior parte de minhas técnicas em minha antiga escola no Japã
        </div>
        <div> Vim para o Brasil com uma bolsa na academia Quanta e me dedico a freelas e estúdios</div>
        <object data="" type=""></object>
    </section>

    <% include ../componentes/footer %>
</body>
</html>