<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

    <% include ../componentes/head %>

    <body>
      
      <% if(user[0] !== undefined) { %>
      <% include ../componentes/clienteNavegacao %>
      <% } else { %>
      <% include ../componentes/navegacao %>
      <% } %>
     
      <section class="container2" style="margin-top: 100px;">
        <h2 class="title">Sobre a Artista</h2>
        <hr>
        <br>
        <div class="card mb-3">
          <img class="card-img-top" src="imgs\emy.png" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Título do card</h5>
            <p class="card-text">
              Brasileira com coração Japonês,
              aprendi maior parte de minhas técnicas em minha antiga escola no Japão.
            </p>
            <p>
              Vim para o Brasil com uma bolsa na academia Quanta e me dedico a freelas e estúdios.
            </p>
          </div>
        </div>
      </section>
    
    
    <% include ../componentes/footer %>

</body>
</html>