<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/navegacao %>
    <section style="min-height: 500px;">
        naruto2
    </section>

    <% include ../componentes/footer %>
</body>
</html>