<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/adminNavegacao %>
    
    <section class="container" style="margin-top: 50px; min-height: 500px;">
        
        <% if(valid.length > 0){ %>
            <div class="alert alert-danger login-alert">
                <strong>Atenção!</strong>
                <ul>
                    <% for(var i=0; i < valid.length; i++){ %>
                        <li><%= valid[i].msg %></li>
                    <% } %>
                </ul>
            </div>
        <% } %>

        <% if(msg.length > 0){ %>
            <div class="alert alert-success login-alert">
                <strong>Atenção!</strong>
                <ul>
                    <li><%= msg %></li>
                </ul>
            </div>
        <% } %>

        <div class="row">
            <div class="col-sm-4">
                <img id="foto-thumbnail" class="img-fluid" src="">
            </div>
            <div class="col-sm-8">
                <form enctype="multipart/form-data" action="/admin/cadastroProduto" method="post">
                    <div class="form-group">
                        <label for="nome-produto">Nome do produto:</label>
                        <input type="text" class="form-control" id="nome-produto" name="nome" />
                    </div>

                    <div class="form-group">
                        <label for="tipo-produto">Tipo do produto:</label>
                        <select id="tipo-produto" class="form-control" name="tipo">
                            <option value="Digital">Digital</option>
                            <option value="Nanquim">Nanquim</option>
                            <option value="Tradicional">Tradicional</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="foto-produto">Adicionar foto:</label>
                        <input type="file" class="form-control-file" id="foto-produto" name="foto" />
                    </div>

                    <div class="form-group">
                        <label for="tamanho-produto">Tamanho do produto:</label>
                        <input type="text" class="form-control" id="tamanho-produto" name="tamanho" />
                    </div>

                    <div class="form-group">
                        <label for="preco-produto">Preço do produto:</label>
                        <input type="text" class="form-control" id="preco-produto" name="preco" onkeypress="$(this).mask('999.990,00')" />
                    </div>

                    <div class="form-group">
                        <label for="descricao-produto">Adicionar descrição:</label>
                        <textarea class="form-control" id="descricao-produto" rows="3" name="descricao"></textarea>
                    </div>

                    <button class="btn btn-success right" type="submit">Confirmar</button>
                </form>
            </div>    
        </div> <!-- end row -->

    </section>

    <script>
    $("#foto-produto").on("change", function(){
        var img = $(this).val();
        img = img.split("\\");
        console.log(img);
        $("#foto-thumbnail").attr("src", "/imgs/" + img[2]);
    });
    </script>

    <% include ../componentes/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>
</html>