<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/adminNavegacao %>
    
    <section class="container" style="margin-top: 50px; min-height: 400px;">
        
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sei lá</th>
                    <th scope="col">Tenho nem ideia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>num sei</td>
                    <td>num sei nada</td>
                    
                    <td>
                        <form style="display:inline" action="/admin/edicaoAdmin" method="post">
                            <input type="text" style="display:none" class="form-control" value="" id="_id-produto" name="_id" />
                            <input type="text" style="display:none" class="form-control" value="" id="nomeadmin" name="nomeadmin" />
                            <input type="text" style="display:none" class="form-control" value="" id="emailadmin" name="emailadmin" />

                            <button class="btn btn-success right" type="submit">Editar</button>
                        </form>

                        <form style="display:inline" action="/admin/exclusaoAdmin" method="post">
                            <input type="text" style="display:none" class="form-control" value="" id="_id-produto" name="_id" />
                            <input type="text" style="display:none" class="form-control" value="" id="nomeadmin" name="nomeadmin" />
                            <input type="text" style="display:none" class="form-control" value="" id="emailadmin" name="emailadmin" />

                            <button class="btn btn-danger right" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>        

    </section>

    <% include ../componentes/footer %>
</body>
</html>