<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <div class="container" style="box-shadow: 2px 3px 4px #bbb; background-color: #ddd; max-width: 300px; margin: 50px auto; padding: 60px 40px; border: 1px solid #888; border-radius: 10px;">
        
        <label for="adminemail">E-mail</label>
        <div class="input-group">
            <input type="email" style="border: 1px solid #888" id="adminemail" class="form-control" placeholder="E-mail" aria-label="E-mail">
        </div>

        <label for="adminsenha">Senha</label>
        <div class="input-group">
            <input type="password" style="border: 1px solid #888" id="adminsenha" class="form-control" placeholder="" aria-label="Senha">
        </div>

    </div>

</body>
</html>